@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.bubblegum-sans-regular {
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

img {
    object-fit: cover; 
    height: auto;
    width: 200px;
}

.pet-detail-img {
    max-height: 700px !important;
    margin-top: 2em;
    object-fit: contain !important;
}
